<h2>Show Post: <%= post.title %></h2>
<ul>
    <li>name: <%= post.category.name %></li>
    <li>content: <%= post.content %></li>
    <li>summary: <%= post.summary %></li>
    <li>date: <%= post.date %></li>
    <li>views: <%= post.views %></li>
    <li>active: <%= post.active %></li>
</ul>